{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        <link rel="icon" href="http://vladmaxi.net/favicon.ico" type="image/x-icon">
        <link rel="shortcut icon" href="http://vladmaxi.net/favicon.ico" type="image/x-icon">
        <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    </head>
    <body>

        <section class="container">
            <div class="login">
                <h1>Войти в личный кабинет</h1>
                <form method="post" action="{{ path("fos_user_security_check") }}">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    <p><input type="text" name="_username" id = "username" value="{{ last_username }}" placeholder="Логин"
                              required autofocus></p>
                    <p><input type="password" name="_password" id="password" value="" placeholder="Пароль"
                              required autofocus></p>
                    <p class="remember_me">
                        <label>
                            <input type="checkbox" name="remember_me" id="remember_me">
                            Запомнить меня
                        </label>
                    </p>
                    <p class="submit"><input type="submit" name="_submit" id="submit" value="{{ 'security.login.submit'|trans }}" value="Войти"></p>
                </form>
                {% if error %}
                    <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            </div>

            <div class="login-help">
                <a href="index.html">Забыли пароль?</a> Восстановите его!
            </div>
        </section>
    </body>
</html>
