{% trans_default_domain 'FOSUserBundle' %}
{% extends "TestBundle:Default:layout.html.twig" %}

{% block title %}
    Личный кабинет
{% endblock %}

{% block masthead %}
    <div class="masthead clearfix">
        <div class="inner">
            <h3 class="masthead-brand">TPROJECT</h3>
            <nav>
                <ul class="nav masthead-nav">
                    {% if is_granted('ROLE_USER') %}
                        <li class="active"><a href="/">Главная</a></li>
                        <li><a href="/logout">Выход</a></li>
                        <li><a href="/profile">Личный кабинет</a></li>
                        {% else %}
                        <li class="active"><a href="/">Главная</a></li>
                        <li><a href="/register">Регистрация</a></li>
                        <li><a href="/login">Вход</a></li>
                        {% endif %}

                </ul>
            </nav>
        </div>
    </div>
{% endblock %} 

{% block content %}
    <div class="inner cover">
        <form class="form-signin" method="post" action="{{ path("fos_user_profile_edit") }}">
            <h2 class="form-signin-heading">Изменение данных</h2>
            {{ form_label(form.username) }}
            {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
            {{ form_label(form.email) }}
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
            {{ form_label(form.current_password) }}
            {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
            {{ form_widget(form) }}

            <div>
                <font color="red">{{form_errors(form.username)}}</font>
                <font color="red">{{form_errors(form.email)}}</font>
                <font color="red">{{form_errors(form.current_password)}}</font>
            </div>
            <input class = "btn btn-lg btn-default" type="submit" value="Изменить" />
        </form>
    </div>  

{% endblock %}

